{{#post}}

  <main>
    <article class="{{post_class}}">

      <header class="postTitle">
        <h1>{{title}}</h1>
        <section>
          <time datetime="{{date format="YYYY-MM-DD HH:mm:ss"}}">{{date format="YYYY-MM-DD HH:mm"}}</time>
        </section>
      </header>

      <div class="mobileOnly">
        {{navigation}}
      </div>

      <section class="postBody">
        {{content}}
      </section>
      
      <!-- 多说分享插件 start -->
      <div class="ds-share flat" data-thread-key="{{id}}" data-title="{{title}}" data-images="{{image}}" data-content="{{excerpt}}" data-url="{{url absolute="true"}}">
        <div class="ds-share-inline">
      	  <ul  class="ds-share-icons-16">
      	    <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
            <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
            <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
            <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
            <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
          </ul>
          <!--<div class="ds-share-icons-more">
          </div>-->
        </div>
      </div>
      <!-- 多说分享插件 end -->
      
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="{{url absolute="true"}}"></div>
      <!-- 多说评论框 end -->      

      {{!-- Links to Previous/Next posts --}}

      <div class="otherPost">
        {{#next_post}}
          <div class="prevPost">
            <a href="{{url}}">
              <img src="{{asset "./image/arrowL.png"}}" class="arrow">
              <h5><span>Prev: </span>{{title}}</h5>
            </a>
          </div>
        {{/next_post}}
        {{#prev_post}}
          <div class="nextPost">
            <a href="{{url}}">
              <h5><span>Next: </span>{{title}}</h5>
              <img src="{{asset "./image/arrowR.png"}}" class="arrow">
            </a>
          </div>
        {{/prev_post}}
      </div>

    </article>
  </main>

{{/post}}
